{% extends "base.html" %}
{% block title %} max {% endblock %}
{% block content %}
	<div id = "title">
	<h1>Workout Helper</h1>
	<hr>
	</div>
	<h3>One Rep Max</h3>
	<form action="#" method="POST">	
		<table id = "max">
			<tr>
				<th>reps <br> <i>(<15)</i></th>
				<td>
					<input type = "number" name="reps" size = "10"> 
				</td>
			</tr>
			<tr>
				<th>weight</th>
				<td>
					<input type="number" name="weight" size = "10">
				</td>
			</tr>
			<tr>
				<td><input value="1RM" type = "submit"></td>
				<td id = result>
					{{rm}}
				</td>
			</tr>
		</table>
	</form>
	<br>
	<br>
	<h3><a href='/plan/'>Intensity Calculator</a></h3>
{% endblock %}
