{% extends "base.html" %}
{% block title %} index {% endblock %}
{% block content %}
<h1 id = "title">Workout Helper</h1> 
<h3>tracker</h3>	
<table>
	<tr>
		<th>exercise</th><th>history</th>
	</tr>
	<tr>
		<td>deadlifts</td>
		<td><a href="./history">workouts</a></td>
	</tr>
	<tr>
		<td colspan=2 id = "add"> 
			<form action="/" method="ADD">
				<input name = "exercise" type = "text">
				<input value = "add" type = "submit">
			</form>
		</td>
	</tr>
</table>
<br>
<br>
<h3><a href="./max.html">One Rep Max Calculator</a></h3>
<br>
<h3><a href="./plan.html">Relative Intensity Calculator</a></h3>
{% endblock %}

