{% extends "base.html" %}
{% block title %} index {% endblock %}
{% block content %}
<h1 id = "title">Workout Helper</h1> 
<h3>tracker</h3>	
<table>
	<tr>
		<th>exercise</th><th>one rep max</th>
	</tr>
	{% for key in workouts %}
	<tr>
		<td>{{ key }}</td>
		<td>{{ workouts[key] }}</td>
	</tr>
	{% endfor %}
	<form action="#" method="POST">
	<tr>
		<td> 
			<input type = "text" name = "exercise">
		</td>
		<td>
			<input type = "number" name = "weight">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input value="add" type = "submit">
		</td>
	</tr>
	</form>
</table>
<br>
<br>
<h3><a href="/">One Rep Max Calculator</a></h3>
<br>
<h3><a href="/plan/">Relative Intensity Calculator</a></h3>
{% endblock %}

